body {
    background: url(../images/CrystalBackground.jpg);

}

#btn1, #btn2, #btn3, #btn4 {
    height: 200px;
    width: 150px;
    background-color: whitesmoke;
}
header {
    background-color: #7e354d;
    color:whitesmoke;
    width: 20%;
    padding:1px;
    

}
#holdoff {
    background-color: #E6E6FA;
    width:20%;
    font-size:17px;
    color: #008080;
    padding: 8px;
}
#random {
    background-color: #66CDAA;
    color: #9370DB;
    width:20%;
    height:110px;
}
#score {
    background-color: #87CEFA;
    width: 10%;
    height:80px;
}
#Displaytotal {
    background-color: #5F9EA0;
    color:whitesmoke;
    width: 30%;
    height: 40px;
    padding-top: 5px;
}
#total {
    background-color: #5F9EA0;
    color:whitesmoke;
    width: 20%;
    height:65px;
}

h1 {
    font-style: oblique;
    font-size: 30px;
}

p {
    font-style: serif;
    font-size:20px;
}

#random {
    font-size:40px;
}

img {
    height: 200px;
    width: 200px;
}
